/* Center the login form */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;


}

/* Login Card */
.login-card {
    background: white;
    padding: 37px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background-color: #6B46C1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Error Messages */
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.heading {
    height: 30%;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}