<div class="mainContainer" fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxFlex="70" fxLayoutGap="2rem">
    <div fxFlex="70vh" class="reqResContainer" fxLayout="column" fxLayoutGap="2rem" #scrollContainer>
      <div *ngFor="let reqRes of reqResArray" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="end">
          <mat-card fxFlex="50" class="reqContainer">
            <span>{{reqRes.req}}</span>
          </mat-card>
        </div>
        <mat-card class="resContainer" fxLayout="column" fxLayoutGap="1rem">
          <span>{{reqRes.res}}, {{reqRes.id}}</span>
          <button mat-raised-button style="width: 15rem;">Click to download excel</button>
        </mat-card>
      </div>
    </div>
    <mat-card fxFlex="15vh" fxLayout="row" class="inputContainer" fxLayoutAlign="space-around center">
      <textarea rows="4" class="inputField" [formControl]="textControl" placeholder="Enter text here..." (keydown.enter)="onClick()" fxFlex="70"></textarea>
      <button mat-raised-button (click)="onClick()" fxLayoutAlign="center center"><mat-icon class="arrowIcon">arrow_upward</mat-icon></button>
    </mat-card>
  </div>
</div>