<div class="mainContainer" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="20vw" class="sidePanel" fxLayout="column">
    <div>
      <div *ngFor="let history of sidePanelHistory">
        <h4>{{history.title}}</h4>
        <div fxLayout="column" fxLayoutGap="10px">
          <span class="sessionButton" *ngFor="let session of history.sessions">{{session.title}}</span>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="80vw" fxLayoutAlign="center center">
    <mat-card fxFlex="60vw" fxLayout="column" fxLayoutGap="2rem" style="margin: 2rem;">
      <div class="chat-header">
        <span>🤖 Chatbot</span>
      </div>
      <div fxFlex="50vh" class="reqResContainer" fxLayout="column" fxLayoutGap="1rem" class="chat-box" #scrollContainer>
        <div *ngFor="let message of reqResArray"
          [ngClass]="{'user': message.sender === 'user', 'bot': message.sender === 'bot'}">
          <img *ngIf="message.sender === 'bot'" class="avatar"
            src="data:image/svg+xml,<svg width='40' height='40' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='12' cy='12' r='10' fill='%236B46C1'/><circle cx='12' cy='10' r='3' fill='white'/><path d='M7 18c0-3 2.5-5 5-5s5 2 5 5' fill='white'/></svg>"
            class="avatar" alt="user" />
          <span class="message">{{ message.text }}</span>
        </div>
      </div>
      <div fxLayout="column">
        <div fxFlex="7vh" fxLayoutAlign="space-around center" class="inputContainer">
          <input type="text" [formControl]="textControl" placeholder="Message..." (keyup.enter)="getResponse()" />
          <button (click)="getResponse()" class="sendbutton">
            Send
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>